.main__banner {
  width: 100%;
  background-color: #f3f3f3;
}

.main__photo1 {
  background-image: url("../img/gtr1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__photo2 {
  background-image: url("../img/gtr2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__features {
  height: 15rem;
}

.jumbotron {
  background-image: url("../img/gtr-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
